@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@font-face {
	font-family: 'Segoe UI Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Regular'), url('static/fonts/segoe.woff') format('woff');
}


@font-face {
	font-family: 'Segoe UI Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Italic'), url('static/fonts/segoe_italic.woff') format('woff');
}


@font-face {
	font-family: 'Segoe UI Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold'), url('static/fonts/segoe_bold.woff') format('woff');
}


@font-face {
	font-family: 'Segoe UI Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold Italic'), url('static/fonts/segoe_bold_italic.woff') format('woff');
}
.overflow {
	position: absolute;
	background: #000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.75;
	z-index: 8888888;
}
.categoryBox {
	padding: 0;


	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	/* Firefox */
	input[type=number] {
	  -moz-appearance: textfield;
	}

	.similar {
		padding-bottom: 50px;
		.bestseller-item {
		  width: 290px;
		  //height: 362px;
		  background: #fff;
		  display: inline-block;
		  padding: 20px 0 0;
		  border-radius: 12px;
		  color: #fff;
		  height: auto;
		  padding-bottom: 25px;
		  position: relative;
		  margin-bottom: 20px;

		  &:hover {
		    box-shadow: 0 3px 30px #0000001a;
		    cursor: pointer;
		  }

		  .promotion {
		    background: #31a745;
		    width: 78px;
		    display: flex;
		    height: 78px;
		    border-radius: 50%;
		    align-items: center;
		    justify-content: center;
		    transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);
		    font: normal normal bold 18px/13px Lato;
		    position: absolute;
		    top: 15px;
		    right: 45px;

		    &.new {
		      background: #de1c70;
		      font: normal normal bold 11px/13px Lato;
		      text-transform: uppercase;
		    }

		    &.bestseller {
		      background: #f1cc15;
		      transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);
		      font: normal normal bold 11px/13px Lato;
		      text-transform: uppercase;
		    }
		  }

		  img {
		    width: 90%;
		    height: auto;
		  }

		  h3 {
		    color: #555;
		    text-align: center;
		    padding-bottom: 10px;
		    margin: 20px 0 10px;
		    font: normal normal bold 24px/19px Lato;
		    text-transform: uppercase;
		  }

		  .stars-price-line {
		    display: flex;
		    padding: 0 20px;
		    align-items: center;
		    justify-content: space-between;

		    .price {
		      font-size: 14px;
		    }
		  }

		  .reviews-count {
		    font-size: 13px;
		  }

		  .ch2-btn {
		    padding: 10px;
		    width: 130px;
		    border-radius: 0;
		    background: #31a745;
		    color: #fff;
		    margin: 15px auto 0;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    font: normal normal bold 14px/19px Lato;
		  }
		}
	}
	.productBoxBg {
		background: #f8f8f8;
		
		.productBox {
			display: block;
			width: 100%;
			margin: 50px 0;

			.productConfBox {
				float: left;
				width: calc(50% - 30px);
				background: #fff;
				height: 730px;
				position: relative;
				box-shadow: 0px 3px 40px #00000014;

				.confMenu {
				    position: absolute;
				    left: -80px;
				    top: 90px;

					.confMenu1 {
						width: 80px;
						height: 80px;
						background-image: url("static/images/category/confmenu1.svg");
						background-repeat: no-repeat;
						background-position: center;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;

					}

					.confMenu2 {
						width: 80px;
						height: 80px;
						background-image: url("static/images/category/confmenu2.svg");
						background-repeat: no-repeat;
						background-position: center;
						margin-top: 15px;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
					}

					.confMenu3 {
						width: 80px;
						height: 80px;
						background-image: url("static/images/category/confmenu3.svg");
						background-repeat: no-repeat;
						background-position: center;
						margin-top: 15px;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
					}

					.confMenu4 {
						width: 80px;
						height: 80px;
						background-image: url("static/images/category/confmenu4.svg");
						background-repeat: no-repeat;
						background-position: center;
						margin-top: 15px;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
					}

					.confMenu1,
					.confMenu2,
					.confMenu3,
					.confMenu4 {
						&:hover,
						&.active {
							background-color: #fff;
							cursor: pointer;
						}
					}
				}

				.productConfBoxTitle {
					margin: 30px;
					padding-bottom: 17px;
					border-bottom: 1px solid #ebebeb;
					color: #414141;
					font-weight: bold;
					font-size: 36px;
					font-family: 'Segoe UI Bold';
					margin-bottom: 0;
				}

				.bgList {
					text-align: center;
					height: 420px;

					.bgItem {
						width: 115px;
						height: 115px;
						display: inline-block;
						margin: 12px 10px;
						overflow: hidden;
						opacity: 0.3;
						position: relative;
						cursor: pointer;
						transition: all 0.3s;

						&:hover {
							opacity: 1;
						}

						&.selected {
							opacity: 1;

							&:before {
								content: '✓';
								display: block;
								width: 28px;
								height: 28px;
								background: #81BC32;
								border-radius: 50%;
								color: #fff;
								font-size: 18px;
								position: absolute;
								right: 15px;
								bottom: 15px;
							}
						}
					}
				}

				.cupsList {
					display: block;
					text-align: center;
					.cupItem {
						display: inline-block;
						margin: 0 25px 15px;
						cursor: pointer;
						position: relative;
						opacity: 0.4;
						transition: all 0.3s;

						&:hover {
							opacity: 1;
						}

						&.selected {
							opacity: 1;
							&:before {
								content: '✓';
								display: block;
								width: 55px;
								height: 55px;
								background: #81BC32;
								border-radius: 50%;
								color: #fff;
								font-size: 36px;
								position: absolute;
								right: 25px;
								bottom: 25px;
							}
						}

						img {
							width: 200px;
						    height: auto;
						}
					}
				}

				.objectsList {
					margin: 0 42px;
					.modal {
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
						margin: auto;
						display: block;
						position: fixed;
						z-index: 999999999;
						width: 657px;
						min-height: 486px;
						max-height: 80%;
						background: #FFFFFF 0% 0% no-repeat padding-box;
						box-shadow: 0px 3px 40px #00000014;

						.closeModal {
							position: absolute;
							right: 20px;
							top: 20px;
							border: 0;
							background: transparent;
							color: #414141;
							font-size: 20px;
						}

						.modalTitle {
							font-family: "Segoe UI Bold";
							color: #414141;
							font-size: 36px;
							display: block;
							margin-top: 35px;
							margin-left: 52px;
						}

						.cancel {
							width: 50%;
							background: #989898;
							height: 53px;
							position: absolute;
							bottom: 0;
							left: 0;
							font: normal normal normal 17px/14px Lato;
							letter-spacing: 0px;
							color: #FFFFFF;
							text-transform: uppercase;
							border: 0;
						}

						.add {
							width: 50%;
							background: #61A552;
							height: 53px;
							position: absolute;
							bottom: 0;			
							right: 0;
							font: normal normal normal 17px/14px Lato;
							letter-spacing: 0px;
							color: #FFFFFF;
							text-transform: uppercase;
							border: 0;
						}

						.modalContent {
							text-align: center;
							margin: 40px 50px;

							&.edit {
								margin: 25px 50px;

								.objectsBox {
									text-align: left;
									margin-bottom: 20px;

									.objItem {
										margin-left: 0;
										height: auto;

										.colorItem {
											width: 52px;
											height: 52px;
											border-radius: 50%;
										}
									}
								}
							}

							.objectName {
								width: 179px;
								height: 36px;
								background: #F3F3F3 0% 0% no-repeat padding-box;
								border-radius: 5px;
								border: 0;
								display: block;
								margin-bottom: 25px;
								font-family: 'Segoe UI Regular';
								color: #414141;
								padding-left: 13px;
								font-size: 14px;
							}

							.objectTitle {
								font-family: 'Segoe UI Bold';
								color: #414141;
								text-align: left;
								display: block;
								font-size: 20px;
								margin-bottom: 20px;
							}

							.objectsBox {
								overflow: hidden;
							}

							.objItem {
							    width: 45px;
							    height: 120px;
							    text-align: center;
							    margin: 5px 20px;
							    display: inline-block;
							    opacity: 0.3;
							    transition: all 0.3s;
							    cursor: pointer;
							    position: relative;

							    &:hover {
							    	opacity: 1;
							    }

							    &.selected {
							    	opacity: 1;

							    	&:before {
								    	content: "✓";
								    	display: block;
								    	width: 14px;
								    	height: 14px;
								    	background: #81BC32;
								    	border-radius: 50%;
								    	color: #fff;
								    	font-size: 16px;
								    	position: absolute;
								    	line-height: 13px;
								    	right: 3px;
								    	top: 42px;
							    	}
							    }

							    .name {
							    	color: #414141;
							    	font-family: 'Lato';
							    	font-size: 12px;
							    }

							    img {
							    	height: auto;
							    }
							}

						}
					}

					.addNew {
						top: 535px;
						left: 743px;
						width: 142px;
						height: 48px;
						background: #61A552 0% 0% no-repeat padding-box;
						font-family: 'Segoe UI Bold';
						font-size: 14px;
						border: 0;
						letter-spacing: 0px;
						color: #FFFFFF;
						float: right;
						margin-top: 25px;
					}
					.objectItem {
						display: flex;
					    align-items: center;
					    border-bottom: 1px solid #f1f1f1;
					    padding-bottom: 14px;
					    margin-top: 14px;

						.objImage {
							width: 36px;
							height: 38px;
						}

						.objName {
							font-family: 'Segoe UI Bold';
							font-size: 14px;
							color: #414141;
							margin-left: 35px;
						}

						.objActions {
							margin-left: auto;

							.edit {
								background-image: url("static/images/category/edit.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-color: transparent;
								margin-right: 17px;
								margin-top: 5px;
								width: 19px;
								height: 19px;
								border: 0;
							}

							.remove {
								background-image: url("static/images/category/remove.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-color: transparent;
								margin-right: 17px;
								margin-top: 5px;
								width: 19px;
								height: 19px;
								border: 0;
							}

							.top {
								background-image: url("static/images/category/up.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-color: transparent;
								margin-right: 17px;
								margin-top: 5px;
								width: 19px;
								height: 19px;
								border: 0;
							}

							.down {
								background-image: url("static/images/category/down.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-color: transparent;
								margin-right: 17px;
								margin-top: 5px;
								width: 19px;
								height: 19px;
								border: 0;
							}
						}
					}
				}

				.quotesList {
					text-align: center;
					height: 420px;
					.quoteItem {
						width: 135px;
						height: 115px;
						display: inline-block;
						margin: 8px 20px;
						opacity: 0.3;
						transition: all 0.3s;
						position: relative;
						cursor: pointer;

						&:hover {
							opacity: 1;
						}

						&.selected {
							opacity: 1;
							&:before {
								content: url("static/images/category/tick.svg");
								display: block;
								position: absolute;
								margin: auto;
								left: 0;
								right:0;
								top: 35%;
							}
						}
					}
				}

				.paginationBox {
					display: block;
					text-align: center;
					margin-top: 12px;

					.pagination {
						width: auto;
						height: 34px;
						background: #FFFFFF 0% 0% no-repeat padding-box;
						box-shadow: 0px 0px 10px rgba(0,0,0,0.0902);
						border-radius: 10px;
						margin: auto;
						display: inline-block;
						color: #BCBCBC;

						.next {
							border: 0;
							background: none;
							color: #BCBCBC;
							border-right: 1px solid #ececec;
							height: 35px;
							width: 35px;
							&:hover,
							&.active {
								color: #505050;
							}
						}

						.nextAll {
							border: 0;
							background: none;
							color: #BCBCBC;
							height: 35px;
							width: 35px;
							text-align: center;
							&:hover,
							&.active {
								color: #505050;
							}
						}

						.prev {
							border: 0;
							background: none;
							color: #BCBCBC;
							border-right: 1px solid #ececec;
							height: 35px;
							width: 35px;
							&:hover,
							&.active {
								color: #505050;
							}
						}

						.prevAll {
							border: 0;
							background: none;
							color: #BCBCBC;
							border-right: 1px solid #ececec;
							height: 35px;
							width: 35px;
							&:hover,
							&.active {
								color: #505050;
							}
						}

						.page {
							border: 0;
							background: none;
							color: #BCBCBC;
							border-right: 1px solid #ececec;
							height: 35px;
							width: 35px;
							transition: all 0.3s;

							&:hover,
							&.active {
								color: #505050;
							}
						}
					}
				}

				.summary {
					border-top: 1px solid #ebebeb;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 70px;
					padding-top: 20px;
					margin: 10px 30px;
					display: flex;
					justify-content: space-around;
					align-items: center;
					white-space: nowrap;

					.price-sep {
						color: #414141;
						font-family: 'Segoe UI Regular';
						font-size: 26px;
						opacity: 0.4;
						margin-top: 12px;
					}

					.sum-sep {
						color: #414141;
						font-family: 'Segoe UI Regular';
						font-size: 26px;
						opacity: 0.4;
						margin-top: 12px;
					}

					.qty-box {
						.qty-label {
							display: block;
							font-family: 'Segoe UI Regular';
							font-size: 14px;
							color: #414141;
							letter-spacing: 0px;
						}

						.qty-flex {
							display: flex;
							align-items: center;

							.qty-minus {
								width: 39px;
								height: 39px;
								background: #FFFFFF 0% 0% no-repeat padding-box;
								border: 1px solid #C3C3C3;
								color: #414141;
								font-size: 18px;
							}

							.qty-input {
								width: 80px;
								height: 39px;
								background: #FFFFFF 0% 0% no-repeat padding-box;
								border: 1px solid #BFBFBF;
								text-align: center;
								margin: 0 -5px 0 -5px;

								&:focus {
									outline: 0;
								}
							}

							.qty-plus {
								width: 39px;
								height: 39px;
								background: #FFFFFF 0% 0% no-repeat padding-box;
								border: 1px solid #C3C3C3;
								color: #414141;
								font-size: 18px;
							}
						}

					}

					.price-box {
						.price-label {
							display: block;
							font-family: 'Segoe UI Regular';
							font-size: 14px;
							color: #414141;
							letter-spacing: 0px;
						}

						.price-val {
							font-family: 'Segoe UI Regular';
							font-size: 26px;
							color: #61A552;
						}
					}

					.sum-box {
						.sum-label {
							display: block;
							font-family: 'Segoe UI Regular';
							font-size: 14px;
							color: #414141;
							letter-spacing: 0px;
						}

						.sum-val {
							font-family: 'Segoe UI Bold';
							color: #61A552;
							font-size: 26px;
						}
					}
				}

				.confButtons {
					position: absolute;
					bottom: 0;
					width: 100%;

					.back {
						background: #989898;
						height: 67px;
						width: calc(50% - 0.5px);
						color: #fff;
						border: 0;
						text-transform: uppercase;
						font-family: 'Lato';
						font-size: 24px;
						float: left;
					}

					.next {
						background: #58a557;
						height: 67px;
						width: calc(50% - 0.5px);
						color: #fff;
						border: 0;
						text-transform: uppercase;
						font-family: 'Lato';
						font-size: 24px;
						float: right;

						&.fl {
							float: left;
						}
					}

					.reset {
						position: absolute;
						left: 0;
						bottom: -30px;
						border: 0;
						background: transparent;
						color: #414141;
						font-family: 'Lato';
						font-size: 12px;
						padding-left: 20px;
						text-decoration: underline;

						&:before {
							content: '✕';
							color: #414141;
							font-size: 18px;
							position: absolute;
							left: 0;
							top: -4px;
						}
					}
				}
			}
			
			.productViewBox {
				float: right;
				width: calc(50% - 30px);

				.productPreview {
					display: block;
					margin-top: 70px;
					text-align: center;

					img {
						max-width: 580px;
					}
				}

				.backCup,
				.frontCup {
					width: 166px;
					height: 46px;
					box-shadow: 0px 3px 40px #00000014;
					border: 2px solid #959595;
					border-radius: 5px;
					font-family: 'Segoe UI Regular';
					text-transform: uppercase;
					color: #959595;
					opacity: 0.59;
					margin: 0 5px;

					&.active {
						color: #61A552;
						border-color: #61A552;
						opacity: 1;
					}
				}

				.cupInfo {
					font-family: 'Lato';
					font-size: 12px;
					color: #61A552;
					height: 73px;
					box-shadow: 0px 3px 40px #00000014;
					border: 2px solid #61A552;
					border-radius: 5px;
					display: flex;
					align-items: center;
					line-height: 20px;
					position: relative;
					padding-left: 80px;

					&:after {
						content: '!';
						color: #61A552;
						font-size: 30px;
						font-weight: 900;
						font-family: 'Segoe UI Bold';
						position: absolute;
						left: 37px;
					}
				}

				.shareBox {
					overflow: hidden;
					display: block;
					margin-bottom: 12px;

					.search {
						width: 28px;
						height: 30px;
						background-image: url("static/images/category/search.svg");
						background-position: center;
						background-repeat: no-repeat;
						float: right;
						border: 0;
						margin-top: 13px;
						margin-right: 26px;
						background-color: transparent;
					}

					.share {
						width: 63px;
						height: 61px;
						box-shadow: 0px 3px 40px #00000014;
						border: 2px solid #5F6164;
						border-radius: 5px;
						background-image: url("static/images/category/share.svg");
						background-position: center;
						background-repeat: no-repeat;
						float: right;
						background-color: transparent;
					}
				}
			}
		}
	}

}


@media (max-width: 1200px) {
	.categoryBox {
		.productBoxBg {
			.productBox {
				margin-top: 20px;

				.productConfBox {
					float: none;
					width: auto;
					height: auto;
					margin-top: 40px;

					.productConfBoxTitle {
						padding-top: 18px;
						font-size: 20px;
						margin-bottom: 20px;
					}

					.confMenu {
						top: -67px;
						left: 0;

						.confMenu1,
						.confMenu2,
						.confMenu3,
						.confMenu4 {
							display: inline-block;
							border-top-left-radius: 10px;
							border-top-right-radius: 10px;
							border-bottom-left-radius: 0;
							width: 54px;
							height: 52px;
							background-size: 60%;
							margin-left: 20px;
						}
					}

					.quotesList,
					.bgList {
						overflow: auto;
					}

					.objectsList {
						overflow: hidden;
						margin: 0 21px;

						.modal {
							width: 90%;
							.modalContent {
								max-height: 320px;
								overflow: auto;
							}
							.modalTitle {
								font-size: 20px;
							}
						}
					}

					.cupsList {
						.cupItem {
							img {
								width: 100px;
							}
						}
					}

					.summary {
						position: static;
						margin: 10px;
						
						.price-box {
							text-align: center;
							white-space: nowrap;

							.price-val {
								font-size: 18px;
							}

							.price-label {
								font-size: 12px;
							}
						}

						.sum-box {
							whites-space: nowrap;
							text-align: right;

							.sum-label {
								font-size: 12px;
							}

							.sum-val {
								font-size: 18px;
							}
						}

						.qty-box {
							white-space: nowrap;

							.qty-label {
								font-size: 12px;
							}

							.qty-plus,
							.qty-minus {
								width: 30px;
								height:35px;
							}

							.qty-input {
								width: 40px;
								height:35px;
							}
						}
					}

					.confButtons {
						position: static;
						white-space: nowrap;
						text-align: center;
						padding: 7px;

						.next,
						.back {
							width: 49%;
							font-size: 17px;
						}

						.reset {
							margin-left: 10px;
						}
					}
				}

				.productViewBox {
					float: none;
					width: auto;
					padding: 0 12px;

					.productView {
						position: relative;

						.productPreview {
							position: relative;
						}
					}

					
					.backCup {
						width: auto;
						height: auto;
						padding: 3px 7px;
						float: right;
					}

					.frontCup {
						width: auto;
						height: auto;
						padding: 3px 7px;
					}

					.cupInfo {
						font-size: 0;
						padding: 0;
						width: 36px;
						height: 36px;
						display: flex;
						position: absolute;
						right: 0;
						bottom: 100px;
						transition: all 0.3s;
						cursor: pointer;

						&:hover {
							font-size: 12px;
							width: auto;
							background: #fff;
							padding-left: 35px;
						}

						&:after {
							left: 12px;
							top: 4px;
						}
					}

					.shareBox {
						position: absolute;
						right: 0;
						bottom: 40px;

						.search {
							display: none;
						}

						.share {
							width: 36px;
							height: 36px;
							background-size: 75%;
						}
					}
				}
			}
		}
	} 
}

