@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@font-face {
	font-family: 'Segoe UI Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Regular'), url('static/fonts/segoe.woff') format('woff');
}


@font-face {
	font-family: 'Segoe UI Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Italic'), url('static/fonts/segoe_italic.woff') format('woff');
}


@font-face {
	font-family: 'Segoe UI Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold'), url('static/fonts/segoe_bold.woff') format('woff');
}


@font-face {
	font-family: 'Segoe UI Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold Italic'), url('static/fonts/segoe_bold_italic.woff') format('woff');
}

.categoryBox {
	padding: 0;


	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	/* Firefox */
	input[type=number] {
	  -moz-appearance: textfield;
	}

	
	.productBoxBg {
		background: #f8f8f8;
		
		.productBox {
			display: block;
			width: 100%;
			margin: 50px 0;

			.productConfBox {
				float: left;
				width: calc(50% - 30px);
				background: #fff;
				height: 730px;
				position: relative;
				box-shadow: 0px 3px 40px #00000014;

				.confMenu {
				    position: absolute;
				    left: -80px;
				    top: 90px;

					.confMenu1 {
						width: 80px;
						height: 80px;
						background-image: url("static/images/category/confmenu1.svg");
						background-repeat: no-repeat;
						background-position: center;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;

					}

					.confMenu2 {
						width: 80px;
						height: 80px;
						background-image: url("static/images/category/confmenu2.svg");
						background-repeat: no-repeat;
						background-position: center;
						margin-top: 15px;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
					}

					.confMenu3 {
						width: 80px;
						height: 80px;
						background-image: url("static/images/category/confmenu3.svg");
						background-repeat: no-repeat;
						background-position: center;
						margin-top: 15px;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
					}

					.confMenu4 {
						width: 80px;
						height: 80px;
						background-image: url("static/images/category/confmenu4.svg");
						background-repeat: no-repeat;
						background-position: center;
						margin-top: 15px;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
					}

					.confMenu1,
					.confMenu2,
					.confMenu3,
					.confMenu4 {
						&:hover,
						&.active {
							background-color: #fff;
							cursor: pointer;
						}
					}
				}

				.productConfBoxTitle {
					margin: 30px;
					padding-bottom: 17px;
					border-bottom: 1px solid #ebebeb;
					color: #414141;
					font-weight: bold;
					font-size: 36px;
					font-family: 'Segoe UI Bold';
				}

				.cupsList {
					display: block;
					text-align: center;
					.cupItem {
						display: inline-block;
						margin: 0 25px 15px;
						cursor: pointer;
						position: relative;

						&.selected {
							&:before {
								content: '✓';
								display: block;
								width: 55px;
								height: 55px;
								background: #81BC32;
								border-radius: 50%;
								color: #fff;
								font-size: 36px;
								position: absolute;
								right: 25px;
								bottom: 25px;
							}
						}

						img {
							width: 200px;
						    height: auto;
						}
					}
				}

				.summary {
					border-top: 1px solid #ebebeb;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 70px;
					padding-top: 20px;
					margin: 10px 30px;
					display: flex;
					justify-content: space-around;
					align-items: center;

					.price-sep {
						color: #414141;
						font-family: 'Segoe UI Regular';
						font-size: 26px;
						opacity: 0.4;
						margin-top: 12px;
					}

					.sum-sep {
						color: #414141;
						font-family: 'Segoe UI Regular';
						font-size: 26px;
						opacity: 0.4;
						margin-top: 12px;
					}

					.qty-box {
						.qty-label {
							display: block;
							font-family: 'Segoe UI Regular';
							font-size: 14px;
							color: #414141;
							letter-spacing: 0px;
						}

						.qty-minus {
							width: 39px;
							height: 39px;
							background: #FFFFFF 0% 0% no-repeat padding-box;
							border: 1px solid #C3C3C3;
							color: #414141;
						}

						.qty-input {
							width: 80px;
							height: 39px;
							background: #FFFFFF 0% 0% no-repeat padding-box;
							border: 1px solid #BFBFBF;
							text-align: center;
							margin: 0 -5px 0 -5px;

							&:focus {
								outline: 0;
							}
						}

						.qty-plus {
							width: 39px;
							height: 39px;
							background: #FFFFFF 0% 0% no-repeat padding-box;
							border: 1px solid #C3C3C3;
							color: #414141;
						}

					}

					.price-box {
						.price-label {
							display: block;
							font-family: 'Segoe UI Regular';
							font-size: 14px;
							color: #414141;
							letter-spacing: 0px;
						}

						.price-val {
							font-family: 'Segoe UI Regular';
							font-size: 26px;
							color: #61A552;
						}
					}

					.sum-box {
						.sum-label {
							display: block;
							font-family: 'Segoe UI Regular';
							font-size: 14px;
							color: #414141;
							letter-spacing: 0px;
						}

						.sum-val {
							font-family: 'Segoe UI Bold';
							color: #61A552;
							font-size: 26px;
						}
					}
				}

				.confButtons {
					position: absolute;
					bottom: 0;
					width: 100%;

					.back {
						background: #989898;
						height: 67px;
						width: 49.7%;
						color: #fff;
						border: 0;
						text-transform: uppercase;
						font-family: 'Lato';
						font-size: 24px;
					}

					.next {
						background: #58a557;
						height: 67px;
						width: 49.7%;
						color: #fff;
						border: 0;
						text-transform: uppercase;
						font-family: 'Lato';
						font-size: 24px;
					}
				}
			}
			
			.productViewBox {
				float: right;
				width: calc(50% - 30px);

				.productPreview {
					display: block;
					margin-top: 70px;
					text-align: center;

					img {
						max-width: 580px;
					}
				}

				.backCup,
				.frontCup {
					width: 166px;
					height: 46px;
					box-shadow: 0px 3px 40px #00000014;
					border: 2px solid #959595;
					border-radius: 5px;
					font-family: 'Segoe UI Regular';
					text-transform: uppercase;
					color: #959595;
					opacity: 0.59;
					margin: 0 5px;

					&.active {
						color: #61A552;
						border-color: #61A552;
						opacity: 1;
					}
				}

				.cupInfo {
					font-family: 'Lato';
					font-size: 12px;
					color: #61A552;
					height: 73px;
					box-shadow: 0px 3px 40px #00000014;
					border: 2px solid #61A552;
					border-radius: 5px;
					display: flex;
					align-items: center;
					line-height: 20px;
					position: relative;
					padding-left: 80px;

					&:after {
						content: '!';
						color: #61A552;
						font-size: 30px;
						font-weight: 900;
						font-family: 'Segoe UI Bold';
						position: absolute;
						left: 37px;
					}
				}

				.shareBox {
					overflow: hidden;
					display: block;
					margin-bottom: 12px;

					.search {
						width: 28px;
						height: 30px;
						background-image: url("static/images/category/search.svg");
						background-position: center;
						background-repeat: no-repeat;
						float: right;
						border: 0;
						margin-top: 13px;
						margin-right: 26px;
						background-color: transparent;
					}

					.share {
						width: 63px;
						height: 61px;
						box-shadow: 0px 3px 40px #00000014;
						border: 2px solid #5F6164;
						border-radius: 5px;
						background-image: url("static/images/category/share.svg");
						background-position: center;
						background-repeat: no-repeat;
						float: right;
						background-color: transparent;
					}
				}
			}
		}
	}

}